<table>
  <% book.book_comments.each do |book_comment| %>
    <tr>
      <td>
        <%= image_tag book_comment.user.get_profile_image(100,100) %><br>
        <%= link_to user_path(book_comment.user_id) do %>
          <%= book_comment.user.name %><br>
        <% end %>
      </td>
      <td><%= book_comment.comment %></td>
      <td>
        <% if book_comment.user == current_user %>
          <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete,
                    data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>