<table class='table', style="table-layout:fixed;width:100%;">
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th style="word-wrap:break-word;"><%= user.introduction %></th>  <!--文字の折り返しが必要だったため追記。line1も併せて。-->
  </tr>

    <tr>
      <th>follows</th>
      <th>
        <%= link_to user_followings_path(user) do %>
          <%= user.followings.count %>
        <% end %>
        </th>
    </tr>
    <tr>
      <th>followers</th>
      <th>
        <%= link_to user_followers_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </th>
    </tr>

</table>

<div class="row">
  <% unless user == current_user %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-info" %>

      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
        <%= link_to message_path(user.id),class: 'btn btn-success' do %>
          <i class="far fa-comments"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>