<div class='container'>
  <div class='row'>

    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info' , user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form' %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to user_path(@book.user_id) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

          <td>
            <% if @book.favorited_by?(current_user) %>
              <p>
                <%= link_to book_favorite_path(@book), method: :delete do %>
                  ♥<%= @book.favorites.count %> <!--いいね-->
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to book_favorite_path(@book), method: :post do %>
                  ♡<%= @book.favorites.count %> <!--いいね-->
                <% end %>
              </p>
            <% end %>
          </td>

          <td>
            <p>コメント数：<%= @book.book_comments.count %></p>
          </td>


          <% if @book.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <div>
        <table>
          <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td>
                <%= image_tag book_comment.user.get_profile_image(100,100) %><br>
                <%= link_to user_path(book_comment.user_id) do %>
                  <%= book_comment.user.name %><br>
                <% end %>
              </td>
              <td><%= book_comment.comment %></td>
              <td>
                <% if book_comment.user == current_user %>
                  <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <%= render 'layouts/errors', obj: @book_comment %>



      <div>
        <%= form_with model: [@book, BookComment.new] do |f| %>
          <%= f.text_area :comment, rows: '5',cols: '80' %><br>
          <%= f.submit "送信" %><br>
        <% end %>
      </div>

      
      
    </div>

  </div>
</div>