<div class="container">
  <div class="row">
    <div class='col-md-8 offset-md-4 mt-2'>
      <% if user_signed_in? %>
      
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :model, options_for_select({ "User" => "user", "Book" => "book" }) %>
          <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
          <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>